{% block page_title %}
    <h2>Student Management</h2>
{% endblock page_title %}
<a href="{% url 'student_list' %}">View Student List</a>
<br><br>
{% if user.is_authenticated %}
<a href="{% url 'student_add' %}">Add New Student</a>
<br><br><br><br>
  <p>Welcome, {{ user.username }}!</p>
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<br><br>
  <a href="{% url 'login' %}">Login</a> to see more options!
{% endif %}